<ion-header class="auth-header">
  <ion-toolbar>
    <ion-title class="auth-title">Autenticação</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="auth-body">

  <section> 
    <div id="auth-container">

      <div class="auth-informativo">
        <h2> Antes de cadastrar uma vaga, autentique-se:</h2>
      </div>

      <div class="auth-inputs">
        <ion-item class="auth-input">
          <ion-label position="floating">CNPJ: </ion-label>
          <ion-input id="emp-usu" [(ngModel)]="cnpj" mask="00.000.000/0000-00" placeholder="00.000.000/0000-00" maxlength="80" required="true"> </ion-input>
        </ion-item>
        <ion-item class="auth-input">
          <ion-label position="floating">Senha: </ion-label>
          <ion-input id="emp-pass" type="password" [(ngModel)]="senha" placeholder="********" maxlength="18" required="true"></ion-input>
        </ion-item>
      </div>
      
      <div class="auth-buttons">  
        <ion-button class="button" id="cancel"  fill="solid" size="default" routerLink="/home"> Voltar
          <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
        </ion-button>

        <ion-button class="button" id="enter" (click)="verificarCredenciais()" fill="solid" size="default" slot="end">Entrar 
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="auth-help-button">
        <ion-button clas="button" (click)="helpButton()" id="help"  fill="solid" size="default" > 
          <ion-icon name="help-circle-outline" size="large"></ion-icon>
        </ion-button>
      </div>
    </div>
  </section>
</ion-content>
