<ion-header translucent="true" id="aluno-header">
  <ion-toolbar>
    <ion-title>Aluno</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" >


  <ion-searchbar id="aluno-searchbar" color="light" placeholder="Buscar vagas" showCancelButton="focus"> </ion-searchbar>

  <ion-list>
    <ion-item-sliding >
      <ion-item >
        <ion-label >
          <h2>Estágio de T.I. | TLBP </h2>
          <p>Cursando Análise e Desenvolvimento de Sistemas ou cursos relacionados a area de tecnologia  </p>
          <p>Jornada de 6h, home office, vale transporte</p>
        </ion-label>
        <ion-note slot="end">
          Londrina
        </ion-note>
      </ion-item>
  
      <ion-item-options side="end" >
        <ion-item-option>
          <ion-icon slot="icon-only" name="information"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    
    <ion-item-sliding >
      <ion-item >
        <ion-label >
          <h2>Estágio de T.I. | TLBP </h2>
          <p>Cursando Análise e Desenvolvimento de Sistemas ou cursos relacionados a area de tecnologia  </p>
          <p>Jornada de 6h, home office, vale transporte</p>
        </ion-label>
        <ion-note slot="end">
          Londrina
        </ion-note>
      </ion-item>
  
      <ion-item-options side="end" >
        <ion-item-option>
          <ion-icon slot="icon-only" name="information"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  
</ion-content>

