.aluno-header {
    //--ion-background-color: #003366;
    --ion-background-color: #D9D9D9;
    color: #000000;
    font-size: 20px;
    font-weight: 250;
}

#aluno-searchbar {
    --border-radius: 10px;
    --placeholder-color: black;
}
 
.aluno-vagas {
    //--color: #F5F5F5;
    --background: #F5F5F5;
    h2 {
        color: black;
        font-family: sans-serif;
    }
    p {
        color: grey;
        font-family: sans-serif;
    }
}

#information {
    color: black;
    background: #D9D9D9;
    font-family: sans-serif;
}

// ion-modal{
//     --height: 86.5%;
//     --border-radius: 16px;
//     --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
//     --width: 98%;
//   }

//   ion-modal ion-toolbar {
//     --background: rgb(14 116 144);
//     --color: white;
//   }

ion-modal{
    --max-height: 86.5%;
    --heigth: fit-content;
    --border-radius: 16px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    --width: 98%;
    overflow-y: auto;
  }

  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }

.word-emp {
    max-height: auto;
}

.word-cargo {
    max-height: auto;
}

.word {
    white-space: normal;
    font-family: sans-serif;
    text-align: justify;
}

.requisitos {
    //max-height: 320px;
    max-height: auto;
}
.beneficios {
    max-height: auto;
}