<ion-header class="emp-header">
  <ion-toolbar>
    <ion-title class="emp-title">Empresa</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="emp-body">

  <div id="container-empresa">

    <div class="emp-labels">
      <ion-item class="inputs-emp">
        <ion-label class="input-emp" position="floating">Nome/Razão Social:</ion-label>
        <ion-input  id="nome-emp" [(ngModel)]="nome" placeholder="Insira o nome ou razão social de sua empresa" maxlength="80" required="true"> </ion-input>
      </ion-item>

      <ion-item class="inputs-emp">
        <ion-label class="input-emp" position="floating">CNPJ:</ion-label>
        <ion-input id="cnpj-emp" [(ngModel)]="cnpj" placeholder="00.000.000/0000-00" maxlength="18" required="true"></ion-input>
      </ion-item>
      
      <ion-item class="inputs-emp">
        <ion-label class="input-emp" position="floating">Cidade:</ion-label>
        <ion-input  id="endereco-emp" [(ngModel)]="endereco" placeholder="Cidade" maxlength="100" required="true"></ion-input>
      </ion-item>

      <ion-item class="inputs-emp">
        <ion-label class="input-emp" position="floating">Telefone:</ion-label>
        <ion-input id="telefone-emp" [(ngModel)]="telefone" placeholder="+55 22 99999-9999" maxlength="17" required="true"></ion-input>
      </ion-item>

      <ion-item class="inputs-emp">
        <ion-label class="input-emp" position="floating">E-mail:</ion-label>
        <ion-input id="email-emp" [(ngModel)]="email" placeholder="unifil@unifil.com.br" maxlength="70" required="true"></ion-input>
      </ion-item>

      <ion-item class="inputs-emp">
        <ion-label class="input-emp" position="floating">Senha:</ion-label>
        <ion-input id="senha-emp" [(ngModel)]="senha" type="password" placeholder="***************" maxlength="70" required="true"></ion-input>
      </ion-item>
    </div>

    <div class="emp-buttons">
      <ion-button class="button" id="cancel"  fill="solid" size="default" routerLink="/home"> Voltar
        <ion-icon name="chevron-back-circle-outline" slot="start"></ion-icon>
      </ion-button>

      <ion-button class="button" (click)="saveEmpresa()"id="send"  fill="solid" size="default" slot="end">Salvar 
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="emp-help-button">
      <ion-button (click)="helpButtonEmp()" class="emp-button" id="help"  fill="solid" size="default" > 
        <ion-icon name="help-circle-outline" size="large"></ion-icon>
      </ion-button>
    </div>
    
  </div>

</ion-content>
