
<ion-header [translucent]="true" id="home-header">
  <ion-toolbar>
    <ion-title class='ion-title'>
      JobStart
    </ion-title>
  </ion-toolbar>
</ion-header>

<div id="home-body"> 
  <ion-content [fullscreen]="true">

    <div id="container">
      
      <!-- <ion-button expand="block" fill="outline"  size="default" routerLink="/initial-page-options">   Você é: </ion-button> -->

      <ion-button id="opc" expand="block" fill="outline" size="default" routerLink="/initial-page-options"> <ion-icon name="business-outline" slot="start"></ion-icon> Sou Empresa </ion-button>
      
      <ion-button id="opc" expand="block" fill="outline" size="default"><ion-icon name="school-outline" slot="start"> </ion-icon> Sou Aluno</ion-button>

    </div>

  </ion-content>
</div>
<ion-icon name="help-circle-outline" size="large" slot="start"></ion-icon>