
<ion-header [translucent]="true" id="home-header">
  <ion-toolbar>
    <ion-title class='ion-title'>
      JobStart
    </ion-title>
  </ion-toolbar>  
</ion-header>

<div id="home-body"> 
  <ion-content [fullscreen]="true">

    <div id="container">

      <ion-button class="opc" fill="solid" size="default">
        <ion-icon name="business-outline" slot="start"> </ion-icon> Sou Empresa
      </ion-button>
      <br>
      <ion-button class="opc" fill="solid" size="default" routerLink="/sou-aluno"> <ion-icon name="school-outline" slot="start"> </ion-icon> Sou Aluno</ion-button>
      <br>
      <ion-button (click)="helpButton()" id="help"  fill="solid" size="default" > 
        <ion-icon name="help-circle-outline" size="large"  ></ion-icon>
      </ion-button>

    </div>
    
  </ion-content>
</div>

