
<ion-header [translucent]="true" class="home-header">
  <ion-toolbar>
    <ion-title class='ion-title'>
      JobStart
    </ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-body">

    <div class="home-buttons" >
      
      <div class="emp-button">
        <ion-button class="button" fill="solid" size="default" (click)="presentActionSheet()">
          <ion-icon name="business-outline" slot="start"> </ion-icon> Sou Empresa
        </ion-button>
      </div>
      <div class="aluno-button">
        <ion-button class="button" fill="solid" size="default" routerLink="/sou-aluno"> <ion-icon name="school-outline" slot="end"> </ion-icon> Sou Aluno</ion-button>
      </div>

      <div class="help-button">
        <ion-button class="button" (click)="helpButton()" id="help"  fill="solid" size="default" > 
          <ion-icon name="help-circle-outline" size="large"  ></ion-icon>
        </ion-button>
      </div>

    </div>
    
  </div>  
</ion-content>
